; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log" :console true})

(tcp-server {:host "0.0.0.0"
             :tls? false
             :key "test/data/tls/server.pkcs8"
             :cert "test/data/tls/server.crt"
             :ca-cert "test/data/tls/demoCA/cacert.pem"})

(instrumentation {:interval 1})

(udp-server)
(ws-server {:host "0.0.0.0"})
(repl-server)

(periodically-expire 1)

(let [index (default :ttl 3 (index))]
  (streams
    (expired #(prn "Expired" %))
    (where (not (service #"^riemann "))
           index)))
